[submodule "robotmaxtron.github.io"]
	path = robotmaxtron.github.io
	url = git@github.com:robotmaxtron/robotmaxtron.github.io.git
[submodule "output/output"]
	path = output/output
	url = git@github.com:robotmaxtron/robotmaxtron.github.io
